<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API Service</title>
  <style>
  h1 {
    margin-bottom: 100px;
    font-size: 50px;
    width: 1px;

  }
  body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
  }

  p {
    margin-bottom: 60px;
  }

  </style>
</head>
<body bgcolor="">
<h1>The API Service</h1>
<p>The <strong>Best There Is</strong></p>
<p>Theres no beter API Service</p>
<p><strong>Trust</strong> me.</p>
</body>
</html>